@model SistemaEstacionamento.Main.Models.Estacionamento

@{
    ViewData["Title"] = "Excluir";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h3>Tem certeza de que deseja excluir isto?</h3>
<div>
    <h4>Estacionamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />    
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
