@model IEnumerable<SistemaEstacionamento.Main.Models.Estacionamento>

@{
    ViewData["Title"] = "Lista de Estacionamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Sucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Erro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<h1>Estacionamentos</h1>

<p>    
    <a asp-action="Create" class="btn btn-primary w-25">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>                
                @Html.DisplayNameFor(model => model.PrecoInicial)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.PrecoHoraAdicional)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.QuantidadeHoras)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.PlacaVeiculo)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.ModeloVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoHoraAdicional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i>Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i>Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
